<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-fixed-top">
    <div class="container">
            <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-content-center">
        </ul>

        <ul class="nav justify-content-center">
            <li><a style="color: white" href="/apitest_manage/">流程接口测试用例</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="/apistep_manage">流程接口测试步骤</a></li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="active"><a style="color: white" href="/apis_manage">单一接口测试用例</a></li>
        </ul>


        <ul class="nav justify-content-end">
            <li class="nav-link"><a style="color: white" href="../admin/">{{user}}</a></li>
            <li class="nav-link"><a style="color: white" href="/logout/">退出</a></li>
        </ul>
    </div>

</nav>


<!--流程接口测试步骤-->
<div class="row" style="padding-top: 70px">
    <div class="row" style="padding-left: 50px">

    <div class="col-md-ll">
    <table class="table table-striped">
        <thead>

        <tr>
            <th>ID</th>
            <th>接口名称</th>
            <th>地址</th>
            <th>参数=值</th>
            <th>方法</th>
            <th>预期结果</th>
            <th>测试结果</th>
            <th>执行时间</th>
            <th>业务流程名称</th>
        </tr>
        </thead>
        <tbody>
        {% for apistep in apisteps %}
        <tr>
            <td>{{apistep.id}}</td>
            <td>{{apistep.apiname}}</td>
            <td>{{apistep.apiurl}}</td>
            <td>{{apistep.apiparamvalue}}</td>
            <td>{{apistep.apimethod}}</td>
            <td>{{apistep.apiresult}}</td>
            <td>{% if apistep.apistatus == 1%}
            <a style="color:green">{{apistep.apistatus}}</a>
        {% else %}
            <a style="color:red">{{apistep.apistatus}}</a>
        {% endif %}
            </td>
            <td>{{apistep.create_time}}</td>
            <td>{{apistep.apistatus}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
</div>
</body>
</html>