<!DOCTYPE HTML PUBLIC "-//W3C//DTD// HTML 4.01 Frameset//EN"
        "http://www.w3.org/TR/html14/frameset.dtd">

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
</head>
<body>
<url>
    <ul class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <li>欢迎您,<a href="#">{{user}}</a></li>

        <li><a href="/logout/">退出</a></li>
    </ul>
</url>
</body>

</html>