<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>AutoTestPlat</title>
    <style> body{text-align:center} </style>
</head>
<body>
<div>
    <front size='1'>
        <h1>川的自动化测试平台</h1>
    </front>
    <form method="post" action="/login/">
        {% csrf_token %}
        <br><a>&nbsp;&nbsp;用户名：</a><input name="username" type="text" placeholder="test">
        <br><br> <a>&nbsp;&nbsp;密 &nbsp;&nbsp;码：</a><input name="password" type="text" placeholder="test123456">
        <br>{{ error }}<br>
        &nbsp;<button style="width:220px;height:28px" id="submit" type="submit">登录</button>
    </form>
</div>
</body>
</html>